<section class="premium-section">
  <div class="premium-text">
    <h2>Discover our premium plans for greater benefits, rewards and much more!</h2>
    <p>Get access to exclusive deals and services with our premium plans.</p>
  </div>
  <div class="premium-image">
    <img src="/auto-lujo.png" alt="Premium Car">
  </div>
</section>

<!-- Sección de los planes -->
<section id="premium-plans" class="premium-plans">
  <h2>Our Plans</h2>
  <div class="plan-cards">

    <!-- Plan Básico -->
    <div class="plan-card">
      <h3>Basic Plan</h3>
      <p class="price">Free</p>
      <ul>
        <li>✔ DriveNow Community</li>
        <li>✔ Limited car access</li>
        <li>✔ Standard waiting time</li>
        <li>✔ Premium Support</li>
      </ul>
      <button class="btn-subscribe">Subscribe</button>
      <p class="cancel-text">Cancel at any time</p>
    </div>

    <!-- Plan Platinum -->
    <div class="plan-card most-popular">
      <h3>Platinum Plan</h3>
      <p class="price">S/.20 <span>/month</span></p>
      <p class="popular-badge">Most Popular</p>
      <ul>
        <li>✔ DriveNow Community</li>
        <li>✔ Access to the entire range of cars</li>
        <li>✔ Preferential waiting time</li>
        <li>✔ Priority recommendation for other users</li>
        <li>✔ Premium support and platinum lock</li>
      </ul>
      <button class="btn-subscribe">Subscribe</button>
      <p class="cancel-text">Cancel at any time</p>
    </div>

    <!-- Plan Golden -->
    <div class="plan-card">
      <h3>Golden Plan</h3>
      <p class="price">S/.25 <span>/month</span></p>
      <ul>
        <li>✔ DriveNow Community and verified badge</li>
        <li>✔ Access to full range of cars and extra services</li>
        <li>✔ Best community preference</li>
        <li>✔ The best recommendation to other users</li>
        <li>✔ Premium support and golden lock</li>
        <li>✔ Accumulation of points for in-store redemptions</li>
      </ul>
      <button class="btn-subscribe">Subscribe</button>
      <p class="cancel-text">Cancel at any time</p>
    </div>

  </div>
</section>
