<footer class="footer">
  <div class="footer-social">
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <mat-icon>facebook</mat-icon>
    </a>
    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
      <mat-icon>instagram</mat-icon>
    </a>
    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
      <mat-icon>twitter</mat-icon>
    </a>
    <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
      <mat-icon>youtube</mat-icon>
    </a>
  </div>
  <p>&copy; 2024 DRIVENOW - Todos los derechos reservados.</p>
</footer>
