<section id="why-choose-us" class="why-choose-us">
  <h2>Why DriveNow?</h2>
  <div class="reasons">
    <div class="reason">
      <img src="assets/Community.png" alt="Community Icon">
      <h3>Community</h3>
      <p>Connect with us and be part of the DriveNow community.</p>
    </div>
    <div class="reason">
      <img src="assets/Security.png" alt="Security Icon">
      <h3>Security</h3>
      <p>Rent or lease with the best confidence thanks to our security system.</p>
    </div>
    <div class="reason">
      <img src="assets/responsible.png" alt="Responsible Prices Icon">
      <h3>Responsible Prices</h3>
      <p>Responsible pricing thanks to our categorization processes.</p>
    </div>
  </div>
</section>
