<header>
  <div class="logo">
    <a href="#"><img src="./assets/DriveNow_Logo.png" alt="Logo"></a>
  </div>
  <ul class="nav-links" id="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/benefits">Benefits</a></li>
    <li><a routerLink="/team">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/premium-plans">Premium</a></li>
  </ul>
  <div class="auth-buttons">
    <button mat-button class="login">Log in</button>
    <button mat-button class="register">Register</button>
  </div>
  <div class="menu-icon" id="menu-icon" (click)="toggleMenu()">
    <span>&#9776;</span>
  </div>
</header>
