/* Barra de navegación general */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #2C3E50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo img {
  width: 150px;
  margin-right: 30px; /* Espacio entre el logo y los enlaces */
}

/* Enlaces de navegación */
.nav-links {
  display: flex;
  list-style: none;
  flex-grow: 1; /* Esto asegura que los enlaces se mantengan a la izquierda */
  margin-left: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/* Botones de autenticación */
.auth-links {
  display: flex;
}

.auth-links .login-btn {
  background-color: white;
  color: #2C3E50;
  border: 1px solid #2C3E50;
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.auth-links .register-btn {
  background-color: #2ECC71;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover Effects para los botones */
.auth-links .login-btn:hover {
  background-color: #f0f0f0;
}

.auth-links .register-btn:hover {
  background-color: #28a745;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
  .nav-links,
  .auth-links {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
}
