<section id="safety" class="safety">
  <h2>Safety Measures</h2>
  <div class="safety-measures">
    <div class="measure">
      <img src="/owners.png" alt="Owners Icon">
      <h3>Owners</h3>
      <p>Lease safely by using our brand-approved insurance, guaranteed to make your future leasing experience headache-free.</p>
      <a href="#" class="btn-learn-more">Learn More</a>
    </div>
    <div class="measure">
      <img src="/renters.png" alt="Renters Icon">
      <h3>Renters</h3>
      <p>Rent everywhere you go, with the assurance and safety that you will not be breaking the bank on multiple insurance plans.</p>
      <a href="#" class="btn-learn-more">Learn More</a>
    </div>
  </div>
</section>
