<section id="team-section" class="team-section">
  <h2>Our Team</h2>
  <div class="team-members">
    <div class="member">
      <img src="/Aaron_foto.png" alt="Aarón Alexander Avila Palacios">
      <h3>Aarón Alexander Avila Palacios</h3>
      <p>Desarrollador Front-End<br>Desarrollador UX/UI</p>
    </div>
    <div class="member">
      <img src="/George_foto.png" alt="George Galván">
      <h3>George Galván</h3>
      <p>Product Owner y<br>Desarrollador Back-End</p>
    </div>
    <div class="member">
      <img src="/Emilia.png" alt="Emilia Durán">
      <h3>Emilia Durán</h3>
      <p>Desarrolladora Front-End</p>
    </div>
    <div class="member">
      <img src="/Gabriel.png" alt="Gabriel Alexander Casas Sanchez">
      <h3>Gabriel Alexander Casas Sanchez</h3>
      <p>Desarrollador de DevOps</p>
    </div>
    <div class="member">
      <img src="/Jamir_foto.png" alt="Jamir Ángel Marzál Pérez">
      <h3>Jamir Ángel Marzál Pérez</h3>
      <p>Desarrollador Full Stack</p>
    </div>
  </div>
</section>
